#content
	z-index: 1
	p
		font-size: 150%
		margin: 2px 8px 2px 8px
	
		.half-size
			font-size: 50%
	
	article
		margin: 10px 24% 10px 24%
	
	h2
		font-size: 210%
		font-weight: 600
		
		text-shadow: 1px 2px #1c1c1f
	h2, h3, h4
		text-align: center

	#incidentinfo
		display: grid
		grid-template-columns: 40% 60%
		#incidentlog
			table
				font-size: .6em
				tr
					td:nth-child(6)
						font-size: .3em
		#grapharea
			top: 0
			width: 70%
			display: block
			canvas
				margin: 0px 0px 0px 0px !important
				position: fixed
				display: inline-block