<!DOCTYPE html>
<html>
	<head>
		<meta charset='utf-8'>
		<title>{{ page.title }}</title>
		<style>
			@import url("https://fonts.googleapis.com/css2?family=Epilogue:wght@300&family=Roboto");
		</style>
		<link rel='stylesheet' href="/assets/css/styles.css">
		{% include default/scripts.html %}
	</head>
	<body>
		<style>

		</style>
		<div id='overlayeffect'></div>
		<!--div id='content'-->
			{{ content }}
		<!--/div-->
		
	</body>

	<script>
		document.body.onload = function() {
			auth = Cookies.get("auth") || "no"
			$.get("http://0.0.0.0:5001/checkauth", {token: auth}, function(resp){
			if(resp == "Unauthorized"){
				window.location = "/login";
			}
		});
		}
		
	</script>
</html>